{% extends "base.html" %}
{% load materializecss %}
{% load staticfiles %}


{% block page_title %}Tickets | {% endblock %}

{% block page_heading %}Tickets{% endblock %}

{% block content %}
<div class="center-align">
	<!-- Log Bug or Feature Section - Asks user to log in/register if not logged in -->
	<div class="row center-align get-ticket-page">
		<!-- BUG SECTION -->
		<div class="col s12 l6 ">
			<h3 class="ticket-title">Bugs</h3>
			{% if user.is_authenticated %}
			<p class="bold">
				Noticed an issue?
				<br>
                    Submit a new Bug Report!
                </p>
				<p class="bug-button">
					Bug Reports are FREE to open, Just click on the BUG!
				</p>
				<a href="{% url 'new_bug_ticket' %}" class="" aria-label="New Bug Page">

					<i class="fas fa-bug icon-left fa-3x" aria-hidden="true"></i>
				</a>

				{% else %}
				<p>
                <i class="fas fa-bug fa-2x"></i>
					Noticed an issue?
                    
				</p>
				<p>
					<a class="italic bold uppercase nav-link" href="{% url 'login' %}" aria-label="Login Page">
						Login
					</a>
					or
					<a class="italic bold uppercase nav-link" href="{% url 'registration' %}"
						aria-label="Registration Page">
						Register
					</a>
					to submit a Bug Report.
				</p>
				{% endif %}
		</div>
		<!-- FEATURE SECTION -->
		<div class="col s12 l6">
			<h3 class="ticket-title center-align">Features*</h3>
			{% if user.is_authenticated %}
			<p>
				Want something new?
				<br>
                    Submit a new Feature Request by clicking on the COGS!
                </p>

				<a href="{% url 'new_feature_ticket' %}" aria-label="New Feature Page">
					<i class="fas fa-cogs icon-left fa-3x" aria-hidden="true"></i>
				</a>
				<p class="feature-button">
					*Feature Requests require a small donation!
				</p>
				{% else %}
				<p class="bold">
                <i class="fas fa-cogs fa-2x"></i>
					Want something new?
				</p>
				<p>
					<a class="" href="{% url 'login' %}" aria-label="Login Page">
						Login
					</a>
					or
					<a class="" href="{% url 'registration' %}" aria-label="Registration Page">
						Register
					</a>
					to submit a Feature Request.
				</p>
				{% endif %}
		</div>
	</div>
</div>


<!-- Ticket Cards -->
<div class="row center-align">
	{% for ticket in tickets %}
	<a href="{% url 'view_one_ticket' ticket.id %}" aria-label="View Ticket Details">
		<div class="col s12 m6">
			<div class="card ticket-view hoverable">
				<div class="ticket-type center-align">
					<!-- Ticket Type Icon -->
					{% if ticket.ticket_type.ticket_type == "Bug" %}
					<i class="fas fa-bug fa-2x" aria-hidden="true"></i>
					{% elif ticket.ticket_type.ticket_type == "Feature" %}
					<i class="fas fa-cogs fa-2x" aria-hidden="true"></i>
					{% endif %}
				</div>
            
				<!-- Ticket Title -->
				<div class="ticket-info info-title center-align ">
					<h4 class="capitalize">{{ ticket.title }}</h4>
				</div>
				<!-- Ticket Details -->
				<div class="card-content center-align">
					<p class="ticket-info">
						<i class="fas fa-ticket-alt fa-2x ticket-icon" aria-hidden="true"></i>
						{{ ticket.ticket_type }}
					</p>
					<p class="ticket-info">
						<i class="fas fa-tools fa-2x ticket-icon" aria-hidden="true"></i>
						{{ ticket.ticket_status }}
					</p>
					<p class="ticket-info">
						<i class="fas fa-user-circle fa-2x ticket-icon" aria-hidden="true"></i>
						{{ ticket.user.username }}
					</p>
					
						<i class="fas fa-file-alt fa-2x ticket-icon center-align" aria-hidden="true"></i>
					<p class="truncate ticket-info-description">	
                        {{ ticket.description }}
					</p>
				</div>
				<!-- Ticket Quick Stats -->
				<div class="ticket-stats">
					<!-- Views -->
					<span class="info-stats">
                        <i class="fas fa-eye" aria-hidden="true"></i>
                            {{ ticket.views }} View/s
                    </span>
					<span class="info-stats">
                        <!-- Upvotes -->
                        <i class="fas fa-thumbs-up" aria-hidden="true"></i>
                            {{ ticket.upvotes }} Vote/s
                    </span>
					<span class="info-stats">
                        <!-- Donations -->
                        <i class="fas fa-pound-sign" aria-hidden="true"></i>
                            {% if ticket.ticket_type.ticket_type == "Feature" %}
                                {% if ticket.total_donations >= 200 %}
                                    <!-- Show check icon for Feature tickets if
                                    donation goal has been reached -->
                                    <i class="fas fa-check total-reached" aria-hidden="true"> TARGET REACHED</i>
                                    {% else %}
                                        <!-- Show total donations for Feature tickets if
                                        donation goal hasn't been reached -->
                                    £{{ ticket.total_donations }} /£200
                                {% endif %}
                                {% else %}
                                    <!-- Show 'Free!' for Bug tickets -->
                                <span class="free-ticket">FREE!</span>
					{% endif %}
					            </span>
				</div>
			</div>
		</div>
	</a>

	{% endfor %}
</div>



{% endblock %}