{% extends 'base.html' %}
{% load staticfiles %}
	
{% block page_title %}Home Page | {% endblock %}
{% block page_heading %}About the Unicorn Attractor Game{% endblock %}
{% block content %}
	
<div class="container about-page center-align">
	<h1 class="about-game-header">About Unicorn Attractor</h1>
	<hr>
	<p class="about-game">Unicorn attractor is an augmented reality mobile game which uses
		your mobile devices GPS to locate, capture and customise the virtual unicorns, which
		appear as if they are in the players real-world location.</p>
</div>
<div class="container about-page center-align">
	<h1 class="about-game-header">How to play</h1>
	<hr>
	<p class="about-game">Unicorn Attractor is played by using your mobile device as a special screen
		where only through this screen
		you can see these magical and beautiful creatures. If none are seen on your screen you can take a walk and try
		and find them
		or alternativly you can drop the magical unicorn food on the screen and wait for them to come to you.</p>
</div>
<div class="container about-page center-align">
	<h1 class="about-game-header">Customise Unicorns</h1>
	<hr>
	<p class="about-game">Want to have a Unicorn that looks how you want it to look?? Then look no
		further.
		Once you have found some Unicorns you can then customise them from the colour of their horn to the colour of
		their tail, the possibilities are endless.</p>
</div>
<div class="container about-page center-align">
	<h1 class="about-game-header">Download Unicorn Attractor NOW</h1>
	<hr>
	<a href="https://www.apple.com/ie/ios/app-store" target="_blank" aria-label="Apple App Store">
		<img src = "{% static 'img/app-store-icon.png' %}" class="app-link" alt="Apple App Store">
    </a>
		<a href="https://play.google.com/store/apps" target="_blank" aria-label="Google Play Store">
			<img src="{% static 'img/google-play-icon.png' %}" class="app-link" alt="Google Play Store">
    </a>


{% endblock %}