{% extends 'base.html' %}
{% load materializecss %}
{% load staticfiles %}

{% block page_title %}Registration Page | {% endblock %} 
{% block page_heading %}User Registration{% endblock %} 
{% block content %}
    <div class="row view-one-ticket">
        <div id="register" class="col s12">
            <form id="registration_form" method="POST" action="{% url 'registration' %}" class="col s12">
                <div class="center-align">
                    <div class="row">
                        <div class="col s12 registration-from-background">
                            <p>If you already have an account login <a class="login-here" href="{% url 'login' %}">HERE
                                </a>
                            </p>
                            {% csrf_token %} 
                            {{ registration_form.username|materializecss:'icon=fas fa-user' }}
                            {{ registration_form.email|materializecss:'icon=fas fa-envelope' }}
                            {{ registration_form.first_name|materializecss:'icon=fas fa-signature' }}
                            {{ registration_form.last_name|materializecss:'icon=fas fa-signature' }}
                            {{ registration_form.password1|materializecss:'icon=fas fa-lock' }}
                            {{ registration_form.password2|materializecss:'icon=fas fa-key' }}
                            <button type="submit" class="btn btn-primary large-btn edit-button">CREATE ACCOUNT
                                <i class="fas fa-user-plus icon-left"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
                            
{% endblock %}
