<!DOCTYPE html>
{% load staticfiles %}
<html lang="eng">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>{% block page_title %}{% endblock %}Unicorn Attractor</title>
    <!-- Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <!-- FontAwesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
     <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    
    <meta property="og:image" content="staticfiles/img/Project4.png"/>
	

</head>

<body class="background1">

	

		<nav>
			<div class="nav-wrapper">
				<a class="brand-logo" href="{% url 'index' %}"><img src="{% static 'img/uni-logo.png' %}" width="30" height="30" class="d-inline-block align-top my-logo" alt="unicorn-logo">
					<span class="brand-logo-title hide-on-small-and-down">Unicorn Attractor</span>
				</a>
				<a href="#" data-target="mobile-demo" class="sidenav-trigger" aria-label="Sidenav trigger">
					<i class="nav-burger fas fa-bars" aria-hidden="true"></i>
				</a>
				<ul class="right hide-on-med-and-down">
					<li>
						<a href="{% url 'index' %}"><i class="nav-icon fas fa-home"></i>
							<span class="nav-text">HOME</span>
						</a>
					</li>
					<li>
						<a href="{% url 'get_tickets' %}"><i class="nav-icon fas fa-ticket-alt"></i>
							<span class="nav-text">TICKETS</span>
						</a>
					</li>
                    <li>
						<a href="{% url 'about' %}"><i class="nav-icon fas fa-question"></i>
							<span class="nav-text">ABOUT</span>
						</a>
					</li>

					{% if user.is_authenticated %}
					<li>
						<a href="{% url 'profile' %}"><i class="nav-icon fas fa-user"></i>
							<span class="nav-text">PROFILE</span>
						</a>
					</li>
					<li>
						<a href="{% url 'logout' %}"><i class="nav-icon fas fa-sign-out-alt"></i>
							<span class="nav-text">LOGOUT</span>
						</a>
					</li>
					{% else %}
					<li>
						<a href="{% url 'login' %}"><i class="nav-icon fas fa-sign-in-alt"></i>
							<span class="nav-text">LOGIN</span>
						</a>
					</li>
					<li>
						<a href="{% url 'registration' %}"><i class="nav-icon fas fa-user-plus"></i>
							<span class="nav-text">REGISTER</span>
						</a>
					</li>
                   
					{% endif %}
				</ul>
			</div>
		</nav>
		<ul class="sidenav" id="mobile-demo">
			<li>
				<a href="{% url 'index' %}" class="brand-logo avatar">
					<img src="{% static 'img/uni-logo.png' %}" alt="brand logo">
					<span class="brand-logo-title-side-nav">Unicorn Attractor</span>
				</a>
			</li>
			<li class="sidenav-home">
                <a href="{% url 'index' %}" aria-label="Home page">
                    <i class="nav-icon fas fa-home" aria-hidden="true"></i>
                    <span class="nav-text">HOME</span>
                </a>
			</li>
            <li>
				<a href="{% url 'get_tickets' %}">
                    <i class="nav-icon fas fa-ticket-alt" aria-hidden="true"></i>
					<span class="nav-text">TICKETS</span>
				</a>
            </li>
		
			{% if user.is_authenticated %}
			<li>
				<a href="{% url 'profile' %}"><i class="nav-icon fas fa-user"></i>
					<span class="nav-text">PROFILE</span>
				</a>
			</li>
			<li>
				<a href="{% url 'logout' %}"><i class="nav-icon fas fa-sign-out-alt"></i>
					<span class="nav-text">LOGOUT</span>
				</a>
			</li>
            <li>
						<a href="{% url 'about' %}"><i class="nav-icon fas fa-question"></i>
							<span class="nav-text">ABOUT</span>
						</a>
					</li>
			{% else %}
			<li>
				<a href="{% url 'login' %}"><i class="nav-icon fas fa-sign-in-alt"></i>
					<span class="nav-text">LOGIN</span>
				</a>
			</li>
			<li>
				<a href="{% url 'registration' %}"><i class="nav-icon fas fa-user-plus"></i>
					<span class="nav-text">REGISTER</span>
				</a>
			</li>
            <li>
						<a href="{% url 'about' %}"><i class="nav-icon fas fa-question"></i>
							<span class="nav-text">ABOUT</span>
						</a>
					</li>
			{% endif %}
		</ul>
        

	


	<!---------messages for user------>

	{% if messages %}
	<div class="flash-message center-align" id="flash_message">
		<div class="messages">
			{% for message in messages %}
			{{ message }}
			{% endfor %}
		</div>
	</div>
	{% endif %}

	<!--main content-->
	<main class="container">
		<!--Page Heading-->
		<h2 class="page-title center-align">{% block page_heading %}{% endblock %}</h2>
		{% block content %}
		{% endblock %}
	</main>



	<!---------end of messages for user--------->
	<!-- jQuery script tag -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <!-- Materialize script tag -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

	{% block js %}
	{% endblock %}
	<script src="{% static 'js/script.js' %}"></script>

</body>

</html>